<launch>
  <node pkg="map_server" type="map_server" name="map_server" args="$(find jisyupro)/map/realmap2.yaml">
    <param name="frame_id" value="world"/>
  </node>
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find jisyupro)/config/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find jisyupro)/config/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find jisyupro)/config/move_base/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find jisyupro)/config/move_base/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find jisyupro)/config/move_base/base_local_planner_params.yaml" command="load" />
    <param name="global_costmap/laser_scan_sensor/sensor_frame" value="base_scan" />
    <param name="global_costmap/laser_scan_sensor/topic" value="/scan" />
    <param name="global_costmap/global_frame" value="world" />
    <param name="global_costmap/robot_base_frame" value="base_footprint" />
    <param name="local_costmap/laser_scan_sensor/sensor_frame" value="base_scan" />
    <param name="local_costmap/laser_scan_sensor/topic" value="/scan" />
    <param name="local_costmap/global_frame" value="odom" />
    <param name="local_costmap/robot_base_frame" value="base_footprint" />
    <remap from="cmd_vel" to="cmd_vel" />
    <!--remap from="odom" to="odom" /-->
  </node>
  <node pkg="amcl" type="amcl" name="amcl" clear_params="true">
    <rosparam command="load" file="$(find jisyupro)/config/amcl.yaml" />
    <param name="base_frame_id" value="base_footprint" />
    <param name="odom_frame_id" value="odom" />
    <param name="global_frame_id" value="world" />
    <remap from="scan" to="scan" />
  </node>
</launch>
